# General
tmp/
.idea/
.run/
**/*.bak

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test
!/configs/.env.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go workspace file
go.work

# C extensions
*.so

# DB
db.sqlite3
db.sqlite

# MacOS
.DS_Store
*/.DS_Store
