:root {
    --dpg-teal: #1fafa8;
    --diametric-red: #af1f26;
    --dpg-lightgray: #e6e8e8;
}

a {
    color: var(--dpg-teal);
    text-decoration: none;
}

p {
    text-indent: 2em;
}

a:hover {
    color: var(--diametric-red);
}

.bg-dpg-teal {
    background-color: var(--dpg-teal);
}

.bg-dpg-lightgray {
    background-color: var(--dpg-lightgray);
}

.teal-link {
    color: white;
}

.teal-link:hover {
    color: var(--dpg-teal);
}

.dark-link {
    color: black;
}
